.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  text-transform: uppercase;
  color: gold;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content ul li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: gold;
}

.content ul li:hover {
  background-color: blue;
  border: 1px solid cyan;
  color: cyan;
}

.content section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content p {
  color: cyan;
}

.content section button {
  background-color: #00002c;
  color: cyan;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid cyan;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
  width: 4rem;
}

.content section button:active {
  scale: 0.9;
}

.content section button:hover {
  border: 2px solid gold;
  color: gold;
}

.content section button:disabled {
  background-color: #00002c;
  color: blue;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
  width: 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00002c;
  gap: 0.5rem;
  color: gold;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid gold;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.tabBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tabBar label {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 6rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.tabBar label:hover {
  border: 2px solid cyan;
}

.tabBar label:active {
  scale: 0.9;
}

.tabBar label input {
  display: none;
}

.tabLabel {
  background-color: #00002c;
  color: gold;
  border: 2px solid gold;
}

.tabLabel__active {
  background-color: darkblue;
  color: cyan;
  border: 2px solid cyan;
}

.tabBar button {
  background-color: gold;
  color: darkblue;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid gold;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  width: 6rem;
}

.tabBar button:active {
  scale: 0.9;
}

.tabBar button:hover {
  border: 2px solid cyan;
}

.searchField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.searchField label {
  font-weight: bold;
}

.searchField input {
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid gold;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background: black;
}

.searchField input:active {
  scale: 0.9;
}

.searchField input:hover {
  border: 2px solid cyan;
}

.searchField input:focus {
  outline: none;
  border: 2px solid cyan;
  background: blue;
  color: cyan;
  scale: 1.1;
}

.searchField input::placeholder {
  color: gold;
}

.searchField input:focus::placeholder {
  color: cyan;
}

.searchField button {
  background-color: gold;
  color: darkblue;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid gold;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  width: 6rem;
}

.searchField button:active {
  scale: 0.9;
}

.searchField button:hover {
  border: 2px solid cyan;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: gold;
}

/* Mobile */
@media (max-width: 700px) {
}
