.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.content h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: gold;
}

.content blockquote {
  color: gold;
  font-style: italic;
}

.content table {
  width: 100%;
  color: cyan;
  border: 1px solid gold;
  border-radius: 10px;
  padding: 0.5rem;
}

.content table a {
  color: gold;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.content table a:hover {
  color: black;
  background: gold;
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content ul li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: gold;
}

.content ul li:hover {
  background-color: blue;
  border: 1px solid cyan;
  color: cyan;
}

.content section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid gold;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.content section small {
  font-size: 0.8rem;
  color: gold;
}

.backlink {
  background-color: #00002c;
  color: cyan;
  width: 4rem;
  height: 2rem;
  font-weight: bold;
  border: 2px solid gold;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.backlink:active {
  scale: 0.9;
  border: 2px solid cyan;
  background-color: blue;
}

.backlink:hover {
  background-color: darkblue;
}
